html, body {
  margin: 0;
  padding: 0;
}  

body {
font-family: 'Poppins', sans-serif;
  background-color:#fff5f8;
  overflow-x: hidden;
}

.layout_padding {
  padding: 50px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}


.hero-img {
    width: 100%;
    height: 50%;
}


.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f3c93e;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
      font-family: 'Poiret One', cursive;

    color: #990033;
}

.heading_container.heading_center h2 {
        font-size: 3em;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}



/*header section*/
.hero_area {
  position: relative;
    min-height:auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fb6f92;
}

.header_section {
  background-color: #fb6f92;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .header_top {
  padding: 15px 0;
  background-color: #ffe6e6;

}

.top_nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Poiret One', cursive;
}

.navbar-brand span {
  color: #990033;
}

.custom_nav-container {
  padding: 0;
}
.nav-link {
    align-content: center;
}


.product_section .heading_container {
  margin-bottom: 25px;
}

.product_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}


.product_section .box .img-box img {
  height: 250px;
    width: 250px;
  max-width: 100%;
  border-radius: 50%;
    border: solid #990033 5px;
box-shadow: 12px 12px 5px 1px rgba(0, 0, 255, .2);
}


.product_section .box .detail-box {
  margin-top: 25px;
    padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    text-align: center;
    border: 5px #990033 solid;
        background-color: #990033;
    border-radius: 25px;
  width: 100%;
}

.product_section .box .detail-box a h5 {
    text-decoration: none;
    color: white;
}

.product_section .box .detail-box:hover {
        background-color: #868194;
    border: 5px #868194 solid;
}

.product_section .box .detail-box:hover a h5 {
    color: white;
}

.info_section {
  background-color: #990033;
  color: #ffffff;
  padding: 90px 0 45px 0;
    text-align: center;
}

.info_section h5 {
  margin-bottom: 15px;
  font-size: 2rem;
font-family: 'Poiret One', cursive;
}

.info_section .info_links ul {
  padding: 0;
}

.info_section .info_links ul li {
  list-style-type: none;
}

.info_section .info_links ul li a {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 5px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #fb6f92;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 25px;
  color: #ffffff;
  font-size: 24px;
}
.info_contact a {
color: white;
}

.navigation {
    background-color: #fb6f92;
    font-family: 'Crete Round', serif;
}
.navigation li {
    display: inline-block;
    font-size: 2rem;
    width: 25%;
  }
  
.navigation ul {
    margin: 0;
    text-align: center;
    display: flex;
  }

.navigation li a {
    display: block;
    color:  #fff;
    padding: 0.5em 1em;
    text-decoration: none;
  }

.navigation li a:hover {
    color: #990033;
}

.mobile_navigation {
    display: none;
}

.demo-bg{
background: #fb6f92;
margin-top: 60px;
    margin-bottom: 60px;
    border:  5px solid #990033 ;
}

.business-hours {
background: #222; 
padding: 40px 14px;
margin-top: -15px;
position: relative;
    
}
.business-hours:before{
content: '';
width: 23px;
height: 23px;
background: #111;
position: absolute;
top: 5px;
left: -12px;
transform: rotate(-45deg);
z-index: -1;
}
.business-hours .title {
font-size: 20px;
color: #ECDFE3;
text-transform: uppercase;
padding-left: 5px;
border-left: 4px solid #fb6f92; 
}
.business-hours li {
color: #ffffff;
line-height: 30px;
border-bottom: 1px solid #333; 
}
.business-hours li:last-child {
border-bottom: none; 
}

.opening-hours_tablet {
    display: none;
}
.map {
    height:90%;
    margin: 15px;
    border:  4mm ridge #990033;
    width: 210%;
}

.about-us{
  height: 80vh;
  width: 100%;
}

.pic{
  height: auto;
  width: 35%;
    margin: 20px;
    border-radius: 15px;
}

.about{
  width: 90%;
  margin: 9em auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
    background-color: #ffe6e6;
    border-radius: 15px;
    box-shadow: 40px -50px rgb(153, 0, 51);
}


.text{
  width: 95%;
padding: 3rem;
    
}
.text h2{
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 10px;
      font-family: 'Poiret One', cursive;
    color: #990033;
    

}
.text h5{
  font-size: 1.75rem;
  margin-bottom: 20px;
}
.owner_name{
  color: #fb6f92;
}

.text p{
  font-size: 1.75rem;

}


form.file_upload {
background: #ffe6e6;
    text-align: center;
margin: 1.2em;
    height:250px;
    vertical-align:top;
    display:inline-block;
    padding:3em;
    border-radius: 5px;
}

.carousel-item img {
    width:100%;
    height:500px;
}
.file_upload p {
    color: #990033;
    font-size: 1.25em;
        font-family: 'Crete Round', serif;
}

.goto_button  {
margin:20px auto;
    font-size: 1.25em;
    text-align:center;
    display:block;
    width:10%;
    background: #990033;
    color: white;
    border-radius: 5px;
}

.reviews .container-fluid iframe{
    height:50vh;
    width:100%;
    align-content: center;
    border: none;
}


hr {
width: 80%;  
height: 2px;    
margin-bottom: 7px;  
margin-right: auto;  
margin-left: auto;  
margin-top: 9px;  
border-width: 4px;  
border-color: #868194;  }

.specialties {
background-color: #DAC2CA;
margin: 1em;
padding: 1em;
border-radius: 15px;}


.specialties p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
}

.header_logo {
    width: 3%;
    float: right;
}

.tab {
    overflow: hidden;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.tab button {
    background-color: #DED4DF;
    border: none;
    outline: none;
    cursor: pointer;
    margin:1em;
    padding: .75em;
    border-radius: 45px;
    color: black;
    transition: 0.3s;
}



.tab button:hover {
background-color: #869BAE;
color: white;
}

.tab button.active {
  background-color: #CE9EAE;
    border: solid #990033;
}

.tablinks {
    font-size: 1.5rem;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
    text-align: center;
}

.contact_area {
  display: flex;
  align-items: center;
  justify-content: center;
    padding: 5rem;
}

.contact_image img {
    height: 400px;
    width:400px;
    border: 10px solid #990033;
}

.contact_image {
  flex-basis: 100%;
}

.contact_text p {
  font-size: 1.5rem;
}

.contact_text a {
  text-decoration: none!important;
    color: #990033;
}


.gallery_display {
    display: inline-block;
    text-align: center;   
}

.gallery_display img {
    padding:1rem;
    padding-bottom: 1em;
    padding-top:2em;
    text-align: center;
    height: 600px;
}

.info_section .info_form .social_box .facebook {
        font-size: 1.75rem;
        border-radius: 5px;
        padding: .5rem;
        color: white;
        background-color: #4267B2;
}

.gallery_text {
    text-align: center;
}

.gallery_text p {
    text-align: center;
    font-size: 1.5rem;
}

.mobile_specialties
{
    display: none;
}
.about-us-mobile {
    display: none;
 }
.mobile-contact {
        display: none;
}


@media screen and (max-width: 1440px), print
{ 
    .text{
      padding: 3rem;

    }

    .text p{
        font-size: 1.3rem;
    }
    
    .sepcialties {
        display: contents;
        
    }
}

@media screen and (max-width: 1200px), print
{ 
    .mobile_specialties
    {
        display: none;
    }

    .navigation li {
        font-size: 1.25rem;
    }
    
    .mobile_navigation {
    display: none;
    }

    .specialties {
        border-radius: 35px;
    }

    .specialties p {
        font-size: 1.35rem;
    }
    
    .heading_container.heading_center h2 {
        font-size: 2rem;
    }
    
    .product_section .box .img-box img {
        width: 100%;
        border-radius: 30%;
        border: solid #990033 5px;
        box-shadow: 7px 12px 5px 1px rgba(0, 0, 255, .2);
    }

    .product_section .box .detail-box a h5 {
        font-size: 1.2rem;
    }
    
    .layout_padding {
        padding: 20px 0;
    }

    .about-us {
        height: auto;
        padding: 0;
        background: none;
    }

    .about {
        box-shadow: 20px -20px rgb(153, 0, 51);
    }
    
    .text {
        width: 55%;
        padding-top: 2rem;
        padding-left: 0;
        padding-bottom: 2rem;
    
    }
    
    .text h2 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    
    .text h5 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .text p {
        font-size: 1rem;
    }
    .reviews .container-fluid{
        text-align: center;
    }
    
    .reviews .container-fluid iframe{
        height:65vh;
        width:90%;
        padding-bottom: 3rem;
        padding-top:1rem;
    }

    .info_section {
        padding: 2rem;
    }

    .info_section h5 {
        font-size: 2rem;
    }
    
    .info_section a, p {
        font-size: 1rem;
    }

    .info_section .info_form .social_box a {
        font-size: 1rem;
    }
    
    .desktop {
        display: none;
    }
    
    .facebook {
        font-size: 2rem;
    }
    
    .header_logo {
        width: 5%;
    }
    
    .contact_image img {
        height: 300px;
        width: 300px;
        border: 7px solid #990033;
    }

    .contact_text p {
        font-size: 1.25rem;
    }
    .opening-hours li {
        font-size: .8rem;
    }
    
    .opening-hours_tablet {
    display: none;
    }
    
    .gallery_display {
        display: inline-block; 
    }
    
    .gallery_display img {
        padding: .75rem;
        height: 350px;
    }
    .about-us-mobile {
        display: none;
    }
    .mobile-contact {
        display: none;
    }
    
}

@media screen and (max-width: 992px), print
{ 
    .demo-bg {
        display: none;
    }
    
    .about-us-mobile {
        display: contents;
    }
    
    .contact-text-mobile {
        display: none;
    }
    
    .hours-mobile {
        background-color:  #ffe6e6; 
        margin: 1rem;
        padding: 1rem;
        color: #990033;
        border: solid #990033 5px; 
        border-style: dashed;}
    
    .hours-mobile h4 {
        text-align: center;
    }
    
    .hours-mobile hr{
        background-color:#494172;
        border: none;
    }
    .bottom-hours-mobile  {
         padding-top: 1rem; 
    }

    .business-hours-mobile {
        color: white;
    }
    
    .mobile-map {
        width: 100%;
        border: solid #A6637A 5px;
    }
    
    .mobile-map-container {
        padding: 2rem;
    }
    
    .info_section a, p {
        font-size: .8rem;
    }
    
    .header_logo {
        width: 8%;
    }
    
    
    
    .mobile_specialties
    {
        display: contents;
    }
    
    .specialties {
    
        display: none;
    }
    
    .start_img img, .start_body  {
        margin-left: 4rem;
    }
    
    .end_img img, .end_body  {
        margin-right: 4rem;
    }
    
    .mobile_specialties h2 {
        padding-top: 1.5rem;
        padding-bottom: 0;
    }
    
    .ratio {
        text-align: center;
        width: 100%;
    }
    .card-img-top {
        height: 500px;
        width: 500px;
        text-align: center;
        border-radius: 15px;
    }

    .card-body {
        text-align:center;
    }
    
    .home_btns {
    margin-top: 25px;
    padding-top: 10px;
    text-align: center;
    border: 5px #990033 solid;
    background-color: #990033;
    border-radius: 25px;
    width: 50%;
    }
    
}

/* Tablet devices (less than 768px) */
@media screen and (max-width: 768px), print
{ 

    .about-us{
        display: none;
    }
    
    .about-us-mobile .text {
        text-align: center;
        width: 100%;
        padding: 2rem;
    }
    
    .about-us-mobile img {
        width: 100%;
        text-align: center;
        border: solid .75rem #990033; 
    }
    
    .about-us-mobile .text p {
        font-size: 1.25rem;
        padding-bottom: 4rem;
    }
    .about-us-mobile {
        display: contents;
    }
    
    .navigation li {
        font-size: 1rem;
    }
    
    .mobile_navigation {
    display: none;
    }

    .heading_container.heading_center h2 {
        font-size: 1.75rem;
    }

    .heading_container.heading_center {
        margin-bottom: 0;
    }
    
    .text h2 {
        font-size: 1.5rem;
        padding-top: 15px;
    }
    
    .text p {
        font-size: .8rem;
    }

    .about {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }


    
    .layout_padding {
        padding: 20px 0;
    }
    
    .info_section {
        padding: 1rem;
    }
    .info_section a, p {
        font-size: .9rem;
    }
    .info_section h5 {
        font-size: 2rem;
    }
    
    .info_form form {
        font-size: .9rem;
    }
    .header_logo {
        width: 8%;
    }
    
    .info_section .info_form .social_box a {
        margin-right: 5px;
        font-size: .9rem;
    }
    
    .info_section .info_form .social_box .facebook {
        font-size: 1rem;
        padding: .5rem;
    }
    
    .tab {
        padding: .5rem;
        margin: .5rem;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        margin:.5rem;
    }

    .tablinks {
        font-size: 1rem;
    }
    
    .gallery_text p {
        font-size: 1rem;
    }
    
    .gallery_display {
        display: inline-block; 
    }
    
    .gallery_display img {
        padding: .75rem;
        height: 250px;
    }
    
    .contact_area {
        display: none;
    }
    
    .mobile-contact {
        display: contents;
    }
    
    .contact-text-mobile {
        display: contents;
    }    
    
    .contact-area-mobile {
        padding: 1rem;
        margin: 1rem;
    }
    
    .hours-mobile {
        background-color:  #ffe6e6; 
        margin: 1rem;
        padding: 1rem;
        color: #990033;
        border: solid #990033 5px; 
        border-style: dashed;}
    
    .hours-mobile h4 {
        text-align: center;
    }
    
    .hours-mobile hr{
        background-color:#494172;
        border: none;
    }
    .bottom-hours-mobile  {
         padding-top: 1rem; 
    }
    
    
    .business-hours-mobile {
        color: white;
    }
    
    .mobile-map {
        width: 100%;
        border: solid #A6637A 5px;
    }
    
    .mobile-map-container {
        padding: 2rem;
    }
    
    .contact-text-mobile {
        margin: 1rem;
        padding: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: contents;
    }
    .contact-text-mobile p {
        width: 100%;
        font-size: 1rem;}
    .contact-text-mobile a {
        text-decoration: none!important;
        color: #990033;
    }
    
        .card-img-top {
        height: 400px;
        width: 400px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px), print {
    .navbar-brand {
        font-size: 2rem;
    }
    
    .card-img-top {
        height: 300px;
        width: 300px;
    }
    
    .navigation li {
        font-size: .75rem;
    }
    
    .navigation {
        display: none;
    }
    
    .mobile_navigation {
        display: contents;
    }
    
    .mobile-container {
        margin: auto;
        background-color: #990033;
        color: white;
        border-radius: 10px;
    }

    .topnav {
        overflow: hidden;
        background-color: #616161;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
                    font-family: 'Crete Round', serif;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.75rem;

    }

    .active_ {
        background-color: #990033;
        font-family: 'Poiret One', cursive;
    }
    
    .active_ span {
        color: #ffe6e6;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .header_logo {
        display: none;
    }
    
    .navbar-brand, .header_top {
        display: none;
    }

    .hamburger {
        font-size: 2rem;
    }
    
    .product_section .box .detail-box a h5 {
        font-size: 1.2rem;
    }
    
    .product_section .box .detail-box {
        width: 40%;
    }

    
    .about-us {
        display: none;
    }
    
    .about-us-mobile {
        display: contents;
    }
    
    
    .about-us-mobile .text {
        text-align: center;
        width: 100%;
        padding: 2rem;
    }
    
    .about-us-mobile img {
        width: 70%;
        text-align: center;
        border: solid .75rem #990033; 
    }
    
    .about-us-mobile .text p {
        font-size: 1.25rem;
        padding-bottom: 4rem;
    }
    
    .contact-text-mobile {
        margin: 1rem;
    }
    .contact-text-mobile p {
        width: 100%;
        font-size: 1rem;}
    .contact-text-mobile a {
        text-decoration: none!important;
        color: #990033;
    }
    
    .contact_area {
        display: none;
    }
    
    .mobile-contact 
    {
        display: contents;
    }
    .demo-bg {
    display: none;
    }
    
    .hours-mobile {
     background-color:  #ffe6e6; 
        margin: 1rem;
        padding: 1rem;
    color: #990033;
    border: solid #990033 5px; 
    border-style: dashed;}
    
    .hours-mobile h4 {
        text-align: center;
    }
    
    .hours-mobile hr{
        background-color:#494172;
        border: none;
    }
    .bottom-hours-mobile  {
         padding-top: 1rem; 
    }
    
    .business-hours-mobile {
        color: white;
    }
    
    .mobile-map {
        width: 100%;
        border: solid #A6637A 5px;
    }
    
    .mobile-map-container {
        padding: 2rem;
    }

} 
